<p id="notice"><%= notice %></p>

<h1>Listing Deadlines</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Completed</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deadlines.each do |deadline| %>
      <tr>
        <td><%= deadline.title %></td>
        <td><%= deadline.completed %></td>
        <td><%= deadline.course %></td>
        <td><%= link_to 'Show', deadline %></td>
        <td><%= link_to 'Edit', edit_deadline_path(deadline) %></td>
        <td><%= link_to 'Destroy', deadline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deadline', new_deadline_path %>
