<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deadline.title %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @deadline.completed %>
</p>

<p>
  <strong>Course:</strong>
  <%= @deadline.course %>
</p>

<%= link_to 'Edit', edit_deadline_path(@deadline) %> |
<%= link_to 'Back', deadlines_path %>
