<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Moocrc" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Coursera Report Card" %>">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'ripples.min', media: 'all' %>
    <%= stylesheet_link_tag 'material-wfont.min', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'ripples'%>
    <%= javascript_include_tag 'material'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
  <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>
</html>
